@model DAL.Models.Product

<div class="card" style="width: 18rem;">
    <div class="bg-image hover-zoom">
        <img src="@Model.ImageURL"
             class="card-img-top w-100"
             style="width: 100%; height: 50vh;"
             alt="...">
    </div>
    <hr />
    <div class="card-body">
        <h5 class="card-title" style="border-bottom: 1px solid black;">@Model.Name</h5>
        <div class="d-flex flex-column">
           <a asp-controller="Product" asp-action="AddItemToCart" asp-route-id="@Model.Id" class="btn btn-success">Add Item</a>
        </div>
    </div>
</div>
