@{
    ViewData["Title"] = "Contact";
}

<section>
    <div class="">
        <h2>@ViewData["Title"]</h2><hr />
    </div>
    <div>
        <div class="d-flex justify-content-start align-content-center">
            <img class="img-fluid"
                 style="width: 25px; height: 25px;"
                 src="https://t3.ftcdn.net/jpg/03/00/44/48/240_F_300444857_pxbRUgk9joArBCemVn626NJHJ7h2Omn4.jpg" />
            <p> 0800 004 291</p>
        </div>
        <div class="d-flex justify-content-start align-content-center">
            <img class="img-fluid"
                 style="width: 25px; height: 25px;"
                 src="https://t3.ftcdn.net/jpg/01/81/00/34/240_F_181003490_CxW4fQ0H3VypIIsPkFGpMDviO8ysWjOZ.jpg" />
            <p>ShopStore@ShopStore.co.nz</p>
        </div>
        <div id="address">
            <h3>Address</h3>
            <hr />
            <p>HealthCare New Zealand</p>
            <p>PO BOX 27638, Mt. Albert</p>
            <p>Auckland, 1025</p>
        </div>
    </div>
</section>
